{
  "presets": [["next/babel"]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@config": "./config",
          "@lib": "./lib",
          "@pages": "./pages",
          "@public": "./public",
          "@theme": "./theme"
        }
      }
    ]
  ]
}
