{
  "presets": [["next/babel"]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@tests": "./tests",
          "@pages": "./pages"
        }
      }
    ]
  ]
}
