/*
!__mocks__
!__tests__
!.vscode
!/components
!/config
!/cypress
/cypress/screenshots/
!/lib
!/pages
!/public
!/server
!/style
!/theme
!.babelrc
!.dockerignore
!.eslintignore
!.eslintrc
!.gitignore
!.meta
!cypress.json
!docker-compose.yml
!Dockerfile
!dockerstartapp.bat
!jest.config.js
!k8.yml
!k8-service.yml
!next-env.d.ts
!next.config.js
!package-lock.json
!package.json
!start.ts
!README.md
!tsconfig.json
!tsconfig.server.json